<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сортировка по дате создания заказа</title>
</head>
<body>

    {% for order, delta in orders.items %}


        {% if delta < 7  %}
        <h3> заказы меньше 7 дней </h3>
        <p>{{ order }}</p>
        {% endif %}

    {% endfor %}

    {% for order, delta in orders.items %}
        {% if delta > 7 and delta < 30  %}
        <h3> заказы меньше от 7 до 30 дней </h3>
        <p>{{ order }} {{ delta }}</p>
        {% endif %}

    {% endfor %}

    {% for order, delta in orders.items %}
        {% if delta > 30 and delta < 365  %}
        <h3> заказы меньше свыше 30 дней </h3>
        <p>{{ order }}</p>
        {% endif %}
    {% endfor %}

    {% for order, delta in orders.items %}
        {% if  delta > 365  %}
        <h3> заказы меньше свыше 365 дней </h3>
        <p>{{ order }}</p>
        {% endif %}

    {% endfor %}
</body>
</html>

